/**
 * #00b894
 *
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #2980b9;
  color: #FFFDFA;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 3rem;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #FFFDFA;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.5rem;
}

.encryption {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.encryption::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 0.25rem;
  border-radius: 50rem;
  background: #FFFDFA;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.encryption h2 {
  margin-bottom: 1rem;
}

.encryption .encryption-container,
.encryption .decryption-container {
  width: 50%;
  padding: 0 1.5rem;
}

.encryption input {
  padding: 1rem 0.5rem;
  width: 80%;
  display: block;
}

.encryption input:focus {
  outline: none;
}